[Unit]
Description=NeferWL Wayland compositor
Documentation=https://github.com/bnema/neferwl
BindsTo=graphical-session.target
Before=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target
Wants=xdg-desktop-autostart.target
Before=xdg-desktop-autostart.target

[Service]
Slice=session.slice
Type=notify
ExecStart=/usr/bin/neferwl --session
